fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.0
faster-whisper==1.5.3
librosa==0.10.2
soundfile==0.12.1
google-generativeai==1.47.0
google-cloud-speech==2.30.0
demucs==4.0.1
diffq==0.0.2
g2p_en==2.1.0
nltk==3.9.3
